{% extends "base.html" %}

{% block title %}Edit Customer{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Header -->
    <div class="row my-4 align-items-center">
        <div class="col-md-6">
            <h2 class="mb-0">Edit Customer</h2>
        </div>
        <div class="col-md-6 text-end">
            <a href="{% url 'customer_list' %}" class="btn btn-secondary">Back to Customers</a>
        </div>
    </div>

    <!-- Product Form -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <!-- Name -->
                        <div class="mb-3">
                            <label for="name" class="form-label">Customer Name</label>
                            <input type="text" name="name" id="name" class="form-control" value="{{ customer.name }}" required>
                        </div>

                        <!-- Vat_id -->
                        <div class="mb-3">
                            <label for="vat_id" class="form-label">Vat id</label>
                            <input type="number" name="vat_id" id="vat_id" class="form-control" value="{{ customer.vat_id }}" required>
                        </div>

                        <!-- Street -->
                        <div class="mb-3">
                            <label for="street" class="form-label">Customer Street</label>
                            <input type="text" name="street" id="street" class="form-control" value="{{ customer.street }}" required>
                        </div>

                        <!-- City -->
                        <div class="mb-3">
                            <label for="city" class="form-label">Customer City</label>
                            <input type="text" name="city" id="city" class="form-control" value="{{ customer.city }}" required>
                        </div>

                        <!-- Country -->
                        <div class="mb-3">
                            <label for="country" class="form-label">Customer Country</label>
                            <input type="text" name="country" id="country" class="form-control" value="{{ customer.country }}" required>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Update Customer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
